In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
df= pd.read_csv("data2.csv")

In [41]:
df

        Quantity  UnitPrice  Total Price
0              6       2.55        15.30
1              6       3.39        20.34
2              8       2.75        22.00
3              6       3.39        20.34
4              6       3.39        20.34
...          ...        ...          ...
541904        12       0.85        10.20
541905         6       2.10        12.60
541906         4       4.15        16.60
541907         4       4.15        16.60
541908         3       4.95        14.85

[541909 rows x 3 columns]

In [42]:
df.isna().sum()

Quantity       0
UnitPrice      0
Total Price    0
dtype: int64

In [43]:
x = df.iloc[: , :-1]

In [44]:
x

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

In [45]:
y = df.iloc[: , -1]

In [8]:
y

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Total Price, Length: 541909, dtype: float64

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

In [22]:
x_ploy = PolynomialFeatures(degree=2).fit_transform(x)

In [23]:
x_train , x_test ,y_train , y_test = train_test_split(x_ploy ,y ,test_size=0.3, random_state=3 )

In [24]:
reg = LinearRegression()

In [25]:
reg.fit(x_train , y_train)

LinearRegression()

In [31]:
print("The Accuracy of Training is: " , reg.score(x_train,y_train)*100 , "%")

The Accuracy of Training is:  100.0 %

In [32]:
preds = reg.predict(x_test)

In [33]:
preds

array([ 17.7 , 107.4 ,   2.46, ...,  12.5 ,  17.7 ,  15.  ])

In [34]:
print("The Accuracy of Test is: " , reg.score(x_test,y_test)*100 , "%")

The Accuracy of Test is:  100.0 %